* {
  box-sizing: border-box;
}

.container {
  margin: 15px;
}

.row {
  width: 400px;
  height: 52px;
}

.display {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  background-color: #404142;
  color: white;
  font-size: 2.75em;
}

.clear {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.5em;
}

.equals {
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 2.5em;
}
