.itemContainer {
  border-bottom: solid #F1F1F1 1px;
  display: flex;
}

.colorContainer {
  margin-left: 15px;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5%;
  margin-left: 5%;
  flex: 5%;
}

.toDo {
  flex: 65%;
}

.date {
  flex: 25%;
}
