*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e6ecf0;
}

.AppHeader {
  background-color: #222;
  height: 100px;
  color: white;
  text-align: center;
}

.AppHeader h2{
  color: #1DA1F2;
  vertical-align: middle;
  line-height: 100px;
  display: inline;
  margin-left: 70px;
}

.AppHeader a, a:visited{
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  color: white;
}

.homeFeed{
  display: flex;
}

.userColumn{
  flex:1;
  padding: 10px;
}

.tweetColumn{
  flex:2;
  padding: 10px;
}
