
.userBox {
  background: $primary;
  border-radius: 5px;
}

.userBox {
  background: #F6f7f8;
	padding: 10px;
	margin-bottom: 50px;
}

.userBox .handle{
	font-style: italic;
	font-stretch: semi-condensed;
	color: #a39f9f;
	margin-bottom: 8px;
}

.username {
  display: inline-block;
}

.userInfo {
  display: inline-block;
  margin-left: 10px;
}

.userStats{
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
  text-align: center;
}

.numTweets{
	flex:1;
	background: white;
	padding: 10px;
	margin-right: 5px;
  border-radius: 5px;
}
.numFollowing{
	flex:1;
	background: white;
	padding: 10px;
  border-radius: 5px;
}
.numFollowers{
	flex:1;
	background: white;
	padding: 10px;
	margin-left: 5px;
  border-radius: 5px;
}

.profilePic{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid white 5px;
  display: inline-block;
}

.stats {
  color: #1DA1F2;
  font-weight: bold;
  margin-top: 5px;
}
