* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
  bottom: 0;
  flex: 1 1 0;
}

.Channels {
  width: 20%;
  flex-grow: 1;
  border-right: 1px solid #E8E8E8;
  padding: 5px;
  background-color: #003366;
  color: white;
  overflow: scroll;
}

.Feed {
  height: 100vh;
  width: 80%;
  padding: 5px;
  position: relative;
  overflow: scroll;

}

.HeaderBox {
  height: 69px;
}

.Messages {
  overflow: scroll;
  position: fixed;
  bottom: 70px;
  top: 100px;
  width: 79%

}

.MessageSubmit {
  width: 95%;
  display: block;
  margin: 0 auto;
  bottom: 0px;
  padding: 10px;
  border-radius: 5px;
}

.Space {
  height: 100%;
  display:table-row;
  background-color: #003366;
}

.Submit {
  border-top: 1px solid #E8E8E8;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}
